name: ci

on:
  push:
    branches:
      - 'master'
    tags:
      - '*.*.*'
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      -
        name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/weilong-tess/demo
          # add git short SHA as Docker tag
          tag-sha: true
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}

      -
        name: Docker meta_2
        id: docker_meta_2
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/weilong-tess/demo-hello
          # add git short SHA as Docker tag
          tag-sha: true
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}

      - name: Echo steps.docker_meta.outputs.tags
        run: echo 'steps.docker_meta.outputs.tags was ${{ steps.docker_meta.outputs.tags }}.' 
        ## out log
        # steps.docker_meta.outputs.tags was ghcr.io/weilong-tess/demo:master
        # ghcr.io/weilong-tess/demo:sha-e1e0b01.

      - name: Echo steps.docker_meta.outputs.custom
        run: echo 'steps.docker_meta.outputs.custom was ${{ steps.docker_meta.outputs.args }}.' 

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      -
        name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          # username: ${{ github.repository_owner }}
          username: weilong
          password: ${{ secrets.GHCR_TOKEN }}

      # -  
      #   name: Build and push
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: .
      #     push: true
      #     tags: |
      #       ghcr.io/weilong-tess/demo:latest
      #       # ghcr.io/weilong-tess/demo:1.0.0
      #       2-${{ steps.docker_meta.outputs.tags }}
      -  
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}

      -  
        name: Build and push for Hello
        uses: docker/build-push-action@v2
        with:
          context: ./appHello
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta_2.outputs.tags }}