name: ci

on:
  push:
    branches:
      - 'master'
    tags:
      - '*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      -
        name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/weilong-tess/demo
          # add git short SHA as Docker tag
          tag-sha: true


      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          # username: ${{ github.repository_owner }}
          username: weilong
          password: ${{ secrets.GHCR_TOKEN }}

      -  
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ghcr.io/weilong-tess/demo:latest
            # ghcr.io/weilong-tess/demo:1.0.0
            2-${{ steps.docker_meta.outputs.tags }}